html {
  font-family: 'Dokdo', cursive;
}

a href {
  font-style: normal;
  text-decoration-color: black;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  background-color: black;
}

nav {
  width: 70%;
  order: 2;
}

#logoContainer {
  width: 10%;
  order: 1;
}

.logo {
  width: 100%;
}

#navegacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}
