html {
  font-family: 'Dokdo', cursive;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10%;
}
#logo{
  width:100px;
  height:100%;
}
nav #navegacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width:(100%-100px);
}
