html {
  font-family: "Dosis";
}

a {
  color:white;
  text-decoration: none;
}

li{
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  background-color: black;
  text-decoration: none;
}

nav {
  width: 80%;
  order: 2;
}

#logoContainer {
  width: 5%;
  margin-top: 12px;
  order: 1;
}

.logo {
  width: 100%;
}

#navegacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

/* Footer style */

#footerList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: grey;
  padding:0;
}

#footerSocial {
  width: 50px;
}
